body {
	font-family: sans-serif;
	color: rgb(39, 136, 187);
}

a {
	color: rgb(39, 136, 187);
	text-decoration: none;
}

a:hover {
	color: rgb(39, 136, 187);
	text-decoration: underline;
}

TR.line_selected {
	background-color: rgb(127, 193, 229);
	font-style: italic;
}

TR.line_selected A {
	background-color: rgb(127, 193, 229);
	font-style: italic;
}

#projectTitle {
	text-align: center;
	position: relative;
	background-color: rgb(185, 217, 255);
	width: 50%;
	right: -25%;
}

#projectTitle H1 {
	margin-top: 25%;
	border: 2px solid;
	padding: 1em;
}

#users ul {
	text-align: left;
	margin-left: 10%;
}

#users {
	text-align: center;
	position: relative;
	background-color: rgb(185, 217, 255);
	width: 50%;
	right: -25%;
	border: 2px solid;
	margin-top: 5%;
}

#users li:before {
	display: marker;
	content: url("./pictures/user.png");
	vertical-align: -12px;
	padding-right: 10px;
}

#users li {
	list-style-type: none;
	margin-left: -25px;
}

#goalItems {
	background-color: rgb(185, 217, 255);
	width: 100%;
	border: 2px solid;
	height: 88%;
}

#logout {
	background-color: rgb(185, 217, 255);
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: large;
	padding-top: 1em;
	padding-bottom: 1em;
	border: 2px solid;
}

#goalItems h1 {
	text-align: center;
	font-size: medium;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: thin solid;
}

#goalItems li:before {
	display: marker;
	content: url("./pictures/goal.png");
	vertical-align: -2px;
	padding-right: 5px;
}

#goalItems li {
	list-style-type: none;
	margin-left: -30px;
}

#data h1 {
	text-align: center;
	position: relative;
	margin-left: auto; 
	margin-right : auto;
	padding: 10px;
	background-color: rgb(185, 217, 255);
	width: 50%;
	border: 2px solid;
	background-color: rgb(185, 217, 255);
	margin-right: auto;
}

#component {
	text-align: center;
	background-color: rgb(185, 217, 255);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	margin-top: 10px;
}

.component_title {
	text-align: left;
	font-size: small;
	color: rgb(185, 217, 255);
	background-color: rgb(39, 136, 187);
	border-bottom: thin solid;
	margin-top: -16px;
	color: rgb(185, 217, 255);
	background-color: rgb(39, 136, 187);
	border-bottom: thin solid;
	margin-top: -16px;
	height: 20px;
}

#component TABLE {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-spacing: 0px;
	border: thin solid;
	border-collapse: collapse;
}

#component TH {
	color: rgb(185, 217, 255);
	background-color: rgb(39, 136, 187);
	border-right: thin solid;
}

#component TD {
	border-right: thin solid;
}

#component TR {
	font-size: small;
}

#component_create {
	text-align: center;
	background-color: rgb(185, 217, 255);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	margin-top: 10px;
}

.component_create {
	margin-left: 60%;
	font-size: small;
	border: thin solid;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 70%;
	padding-top: 5px;
	height: 20px;
	width: 29%;
	margin-right: auto;
}

#component_create TABLE {
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 0px;
}

#component_create TD {
	border-right: 0px;
	width: 50%;
}

#component_create TR {
	font-size: small;
}

.property_name {
	font-weight: bold;
	text-align: right;
}

.relationship_name {
	font-weight: bold;
	text-align: left;
}