<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.2"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate workflow models on leading frameworks.&lt;br&gt; This Workflow Metamodel allows to model Business processes.&lt;br&gt;SIDE provides the modeler to graphically produce workflow models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/workflow/1.0" name="KSR600 Workflow" url="http://www.kerblue.org/v2/ksr600-workflow/">
      <technology description="Generate documentation (in opendocument) for the models of the metamodel." id="opendocument" name="OpenDocument" url="http://www.odfalliance.org/">
        <technologyVersion id="opendocument1_2" version="OpenDocument 1.2">
          <generatorVersion class="com.bluexml.side.workflow.generator.documentation.WorkflowDocumentationGenerator" hidden="hidden and used by default" id="com.bluexml.side.Workflow.generator.documentation" version="SIDE Workflow Documentation Generator">
            <option defaultOption="true" documentation="if enabled generator add model screenShoot" key="doc.gen.screenshoot" label="includes screen shoots" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

