<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.0"?>
<plugin>
  <extension-point id="action" name="Transition Action" schema="schema/action.exsd" />
  <extension point="org.eclipse.ui.editors">
    <editor class="com.bluexml.side.Workflow.modeler.editor.WorkflowEditor" icon="icons/Editor.gif" default="true" name="Workflow modeler" id="com.bluexml.side.Workflow.modeler.editor.WorkflowEditor" contributorClass="com.bluexml.side.Workflow.modeler.actions.WorkflowEditorActionBarContributor" extensions="workflowdi" />
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <wizard icon="icons/Editor.gif" class="com.bluexml.side.Workflow.modeler.wizards.NewWorkflowDiagrams" category="com.bluexml.side.modeler.category.ID" name="SIDE Workflow Diagram" id="com.bluexml.side.Workflow.modeler.wizards.NewWorkflowDiagrams">
      <selection class="org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.topcased.modeler.perspective">
      <newWizardShortcut id="com.bluexml.side.Workflow.modeler.wizards.NewWorkflowDiagrams" />
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page category="org.topcased.modeler.preferences.ModelerPreferencePage" class="com.bluexml.side.Workflow.modeler.preferences.WorkflowPreferencePage" id="com.bluexml.side.Workflow.modeler.preferences.WorkflowPreferencePage" name="Workflow" />
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page id="com.bluexml.side.Workflow.modeler.preferences.property.WorkflowPreferencePage" class="com.bluexml.side.Workflow.modeler.preferences.WorkflowPreferencePage" category="org.topcased.modeler.preferences.property.ModelerPreferencePage" name="Workflow">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject" />
      </enabledWhen>
    </page>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="com.bluexml.side.Workflow.modeler.preferences.AllDiagramPreferenceInitializer" />
  </extension>
  <extension point="org.topcased.modeler.templates">
    <template di="templates/diagram/%name%.workflowdi" model="templates/diagram/%name%.workflow" name="Workflow" id="com.bluexml.side.Workflow.modeler.templates.diagram" editorId="com.bluexml.side.Workflow.modeler.editor.WorkflowEditor" />
  </extension>
  <extension point="org.topcased.modeler.diagrams">
    <diagram configuration="com.bluexml.side.Workflow.modeler.diagram.WfConfiguration" id="com.bluexml.side.Workflow.modeler.diagram" name="Workflow">
      <enableFor class="com.bluexml.side.workflow.Process" />
    </diagram>
  </extension>
  <extension point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer class="com.bluexml.side.Workflow.modeler.diagram.preferences.WfDiagramTopcasedPreferenceInitializer" editorId="com.bluexml.side.Workflow.modeler.editor.WorkflowEditor" id="com.bluexml.side.Workflow.modeler.diagram.preferences.WfTopcasedPreferenceInitializer" />
  </extension>
  <extension point="org.eclipse.ui.preferencePages">
    <page id="com.bluexml.side.Workflow.modeler.diagram.preferences.WfDiagramPreferencePage" category="com.bluexml.side.Workflow.modeler.preferences.WorkflowPreferencePage" class="com.bluexml.side.Workflow.modeler.diagram.preferences.WfDiagramPreferencePage" name="WfDiagram" />
    <page id="com.bluexml.side.Workflow.modeler.diagram.preferences.StartStatePreferencePage" category="com.bluexml.side.Workflow.modeler.diagram.preferences.WfDiagramPreferencePage" class="com.bluexml.side.Workflow.modeler.diagram.preferences.StartStatePreferencePage" name="StartState" />
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
    <page id="com.bluexml.side.Workflow.modeler.diagram.preferences.property.WfDiagramPreferencePage" category="com.bluexml.side.Workflow.modeler.preferences.property.WorkflowPreferencePage" class="com.bluexml.side.Workflow.modeler.diagram.preferences.WfDiagramPreferencePage" name="WfDiagram">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject" />
      </enabledWhen>
    </page>
    <page id="com.bluexml.side.Workflow.modeler.diagram.preferences.property.StartStatePreferencePage" category="com.bluexml.side.Workflow.modeler.diagram.preferences.property.WfDiagramPreferencePage" class="com.bluexml.side.Workflow.modeler.diagram.preferences.StartStatePreferencePage" name="StartState">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject" />
      </enabledWhen>
    </page>
  </extension>

</plugin>

