<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.2"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate data models on leading frameworks.&lt;br&gt; This DataMetamodel allows to model Application Object structure and persistence.&lt;br&gt;SIDE provides the modeler to graphically produce data models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/class/1.0" name="KSR500 Data" url="http://www.kerblue.org/v2/ksr500-class/">
      <technology description="Check this to generate predefined reports associated to the designed objects of your data models.&lt;br&gt;At runtime, these reports may be instantiated using the Birt report execution environment. These reports may also be customized using the Birt report designer.&lt;br&gt;SIDE allows to optimize the generation of reports useful to follow up the lifecycle of the newly designed objects of your application." id="birt" name="Birt" url="http://www.eclipse.org/birt/">
        <technologyVersion description="Check this to generate reports on the release 2.3 of the Birt reporting tool.&lt;br&gt;Birt 2.3.x is the leading open source reporting tool which may be easily embedded in web framework like Alfresco.&lt;br&gt;Additionally to content generation, SIDE provides the generated reports to follow up the lifecycle of the designed objects." id="Birt_2.3.x" version="Birt_2.3.x">
          <generatorVersion
                class="com.bluexml.side.clazz.generator.report.enterprise.ReportGenerator"
                hidden="visible"
                id="com.bluexml.side.Class.generator.report.enterprise"
                version="SIDE Birt Report Generator for Alfresco Enterprise">
            <configurationParameter
                  dataType="String"
                  documentation="Set this value to name of the author of the report.&lt;br&gt;The author name will be inserted in the generated report templates."
                  key="report.author"
                  label="Author"/>
            <configurationParameter
                  dataType="String"
                  defaultValue="http://localhost:8080/birt"
                  documentation="Set this value to the URL of birt webapp.&lt;br&gt;For instance, &quot;http://localhost:8080/birt&quot;."
                  key="birt.webapp"
                  label="Birt webapp url"/>
            <configurationParameter
                  dataType="String"
                  documentation="Set this value to the URL of the Alfresco instance on which has been generated and deployed the content types from the SIDE data model on which is based the Birt report."
                  key="alfresco.url" defaultValue="http://localhost:8080/alfresco"
                  label="Alfresco URL"/>
            <mustBeChecked pluginId="com.bluexml.side.Class.generator.alfresco.enterprise">
              <optionRef optionId="alfresco.webscript.report" />
            </mustBeChecked>
            <configurationParameter
                  dataType="String"
                  documentation="account to use when getting documents from alfresco"
                  key="alfresco.report.runas"
                  label="report as">
            </configurationParameter>
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

