<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4"
>
	<display-name>Chiba</display-name>

	<context-param>
		<param-name>chiba.configfile</param-name>
		<param-value>WEB-INF/chiba-config.xml</param-value>
	</context-param>

	<!--
		This is an example mapping for ChibaServlet that can be used in applications that like to use a
		Servlet to process XForms. This was the standard approach up to version 2.1 which introduced the
		XFormsFilter. <servlet> <servlet-name>XFormsServlet</servlet-name>
		<servlet-class>org.chiba.agent.web.servlet.ChibaServlet</servlet-class>

		<load-on-startup>1</load-on-startup> </servlet>
	-->

	<!--  XForms Filter -->
	<filter>
		<filter-name>XFormsFilter</filter-name>
		<filter-class>com.bluexml.xforms.chiba.XFormsFilter</filter-class>
		<init-param>
			<param-name>scripted</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<!-- Authentication filter -->
	<filter>
		<filter-name>CAS Filter</filter-name>
		<filter-class>com.bluexml.xforms.controller.cas.CASFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--
		XForms filter mapping maps the XFormsFilter to a specified Servlet or url-pattern. This example
		uses a url-pattern that matches all document under the forms directory. Other examples would be: -
		<url-pattern>*.xhtml</url-pattern> to match all xhtml files -
		<servlet-name>XFormsRequest</servlet-name> to match all requests to Servlet XFormsRequest
	-->
	<filter-mapping>
		<filter-name>XFormsFilter</filter-name>
		<servlet-name>BlueXFormsServlet</servlet-name>
	</filter-mapping>

	<listener>
		<listener-class>com.bluexml.xforms.controller.navigation.NavigationSessionListener</listener-class>
	</listener>

	<!--
		alternative mapping if binding the Filter to a servlet. <filter-mapping>
		<filter-name>XFormsFilter</filter-name> <servlet-name>XFormsRequest</servlet-name>
		</filter-mapping>
	-->
	<servlet>
		<servlet-name>Flux</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>

		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>

		<!--
			This entry may be uncommented to use relative paths in the served html-forms. Remember change the
			chiba.forms.uri.relative parameter of XFormsServlet as well. <init-param>
			<param-name>overridePath</param-name> <param-value>Flux</param-value> </init-param>
		-->
	</servlet>

	<!--
		This is an example servlet that can be used in conjunction with XFormsFilter by attaching the
		filter to this Servlet. This only parses the requested form document and passes the DOM along as a
		request attribute that will be picked up by the XFormsFilter. <servlet>
		<servlet-name>XFormsRequest</servlet-name>
		<servlet-class>org.chiba.agent.web.servlet.XFormsRequestServlet</servlet-class> </servlet>
	-->

	<servlet>
		<servlet-name>FluxHelper</servlet-name>
		<servlet-class>org.chiba.agent.web.flux.FluxHelperServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PlainHtml</servlet-name>
		<servlet-class>org.chiba.agent.web.servlet.PlainHtmlServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-class>org.chiba.agent.web.servlet.ViewServlet</servlet-class>
	</servlet>

	<!-- BlueXML servlets -->
	<servlet>
		<servlet-name>BlueXFormsServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.controller.XFormsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileImageServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.controller.ImageServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.servlets.CreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.servlets.ReadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.servlets.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JavascriptApiServlet</servlet-name>
		<servlet-class>com.bluexml.xforms.servlets.JsApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BlueXFormsServlet</servlet-name>
		<url-pattern>/xforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileImageServlet</servlet-name>
		<url-pattern>/file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateServlet</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadServlet</servlet-name>
		<url-pattern>/read</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavascriptApiServlet</servlet-name>
		<url-pattern>/js</url-pattern>
	</servlet-mapping>
	<!-- end of BlueXML servlets -->


	<servlet-mapping>
		<servlet-name>Flux</servlet-name>
		<url-pattern>/Flux/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FluxHelper</servlet-name>
		<url-pattern>/FluxHelper/*</url-pattern>
	</servlet-mapping>

	<!--
		Umcomment the respective entries when using ChibaServlet or XFormsRequestServlet.

		<servlet-mapping> <servlet-name>XFormsServlet</servlet-name>
		<url-pattern>/XFormsServlet</url-pattern> </servlet-mapping> <servlet-mapping>
		<servlet-name>XFormsRequest</servlet-name> <url-pattern>/xfrequest</url-pattern>
		</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>PlainHtml</servlet-name>
		<url-pattern>/PlainHtml/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewServlet</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>800</session-timeout>
	</session-config>


	<!--
		<security-constraint> <web-resource-collection> <web-resource-name>Chiba Member
		Area</web-resource-name> <url-pattern>/jsp/*</url-pattern> <http-method>DELETE</http-method>
		<http-method>GET</http-method> <http-method>POST</http-method> <http-method>PUT</http-method>
		</web-resource-collection> <auth-constraint> <role-name>tomcat</role-name>
		<role-name>role1</role-name> </auth-constraint> </security-constraint> <login-config>
		<auth-method>FORM</auth-method> <realm-name>Example Form-Based Authentication Area</realm-name>
		<form-login-config> <form-login-page>/login.jsp</form-login-page>
		<form-error-page>/login_error.jsp</form-error-page> </form-login-config> </login-config>
	-->
	<!--
		The BlueXML modifications to the original web.xml are: - replace the Chiba XFormsFilter filter
		with the XFormsFilter in bluexml package - add filter and filter-mapping for the CAS filter in
		package controller.cas.CASFilter - replace "<url-pattern>/forms/*</url-pattern>" with
		"<servlet-name>BlueXFormsServlet</servlet-name>" in the filter-mapping for XFormsFilter - add
		NavigationSessionListener as a listener - add servlets and their servlet-mapping:
		BlueXFormsServlet, FileImageServlet, CreateServlet, ReadServlet, UpdateServlet, DeleteServlet,
		JsApiServlet - replace index.html with index.jsp as welcome file - set a session timeout
	-->
</web-app>
