<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<!-- FacetMap Servlet configuration -->
<!--         Version: 1.0           -->
<!--      http://facetmap.com       -->

<!--
  This file configures FacetMap to run as a Java Servlet, in a
  Servlet Container program such as Tomcat, iPlanet, Weblogic, etc.
  Many configuration settings are done here, in <context-param>
  elements. You can configure FacetMap to your own needs by
  changing the <param-value> for each setting. Each setting
  is documented separately below.
-->

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" 
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <display-name>FacetMap</display-name>
    <description>FacetMap for Servlet containers. See http://facetmap.com to learn more.</description>

<!--
  These context-param elements are only provided as hard defaults
  for Facetmap configuration parameters. Typically you change these
  values in WEB-INF/configuration.properties instead of changing
  them here. For parameter definitions and a web interface to change
  them, see servletParameters.jsp .
-->

    <context-param>
      <param-name>map</param-name>
      <param-value>map.xml</param-value>
    </context-param>

    <context-param>
      <param-name>log4jConfigFile</param-name>
      <param-value>log4j.properties</param-value>
    </context-param>

    <context-param>
      <param-name>workDirectory</param-name>
      <param-value>/tmp/facetmap</param-value>
    </context-param>

<!--
  This element initializes FacetMap. There's usually no need to
  change this, unless you have and want to use a different FacetMap
  engine.
-->
  
    <servlet>
        <servlet-name>facetmap</servlet-name>
        <servlet-class>com.bluexml.side.framework.facetmap.multimap.FacetMapAlfrescoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>BrowseXml</servlet-name> 
        <servlet-class>com.bluexml.side.framework.facetmap.multimap.BrowseServlet</servlet-class> 
    </servlet>

<!--
  The following elements allow you to run FacetMap without having the
  Java JDK installed. If you wish to edit the JSP pages or write your
  own JSP pages, you will need to delete everything between here and
  the marker "End Page Mappings". If you do delete them, be sure you
  have the JDK, not the JRE, installed on your machine.
-->
    <!-- JSPC_WEBINC goes here -->
<!--
  End Page Mappings
-->

    <servlet-mapping>
        <servlet-name>BrowseXml</servlet-name> 
        <url-pattern>/browse.xml</url-pattern> 
    </servlet-mapping>

<!--
  Define the default session timeout for your application,
  in minutes. FacetMap itself uses no session state.
-->
    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>
    
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>facetMapError.jsp</location>
	</error-page>

</web-app>
