<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate form models on leading frameworks.&lt;br&gt; This Form Metamodel allows to model Web Forms to integrate in your web application or web framework customizations.&lt;br&gt;SIDE provides the modeler to graphically produce form models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/form/1.0" name="KSR400 Form" url="http://www.kerblue.org/form/1.0">
      <technology description="Check this to generate on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;SIDE allows to optimize the configuration of the Alfresco content model, views, forms and reports." id="alfresco" name="Alfresco" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate on the major release 3.4 of Alfresco.&lt;br&gt;Alfresco 3.4.d is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, SIDE provides useful server components to enhance some features of this release." id="alfresco_3.4d" version="Alfresco3.4d Community">
          <generatorVersion class="com.bluexml.side.form.generator.alfresco34d.FormGenerator" description="This generator generate configuration from Forms Models for Alfresco Share" hidden="visible" id="com.bluexml.side.Form.generator.alfresco34d" version="Alfresco Share Forms Generator">
            <configurationParameter dataType="String" defaultValue="1.0" key="com.bluexml.side.Form.generator.alfresco34d.module.version" label="Form Module version" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.share.formExtension34d" moduleType="zip" technologyVersion="alfresco_3.4d" versionMax="1.0.2" versionMin="1.0.2" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.sharePortalExtension34d" moduleType="zip" technologyVersion="alfresco_3.4d" versionMax="1.0.4" versionMin="1.0.4" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

