body{
    font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    font-size:0.8em;
    width:100%;
    margin:0;
    padding:0;
    background-image:url('../img/background.png');
}

#container{
    width:780px;
    margin:auto;
    background-color:#FFF;
    border:solid 1px #AAA;
}

#header{
    height:100px;
    width:100%;
    margin:0;
    position:relative;
    color:white;
    background-color:#5992eb;
    border:solid 1px #5992eb;
}

#menu{
    width:100%;
    text-align:center;
    border-top:solid 1px #AAA;
    border-bottom:solid 1px #AAA;
    padding-top:3px;
    padding-bottom:3px;
}

#content{
    min-height:400px;
    padding:5px;
    padding-top:10px;
    background-color:#EEE;
}

#footer{
    text-align:center;
    width:100%;
    border-top:solid 1px #AAA;
}

#leftColumn{
    float:left;
    width:50%;
}

#rightColumn{
    float:right;
    width:50%;
}

.box{
    width:98%;
    border:solid 1px #AAA;
    border-top:0px #AAA;
    background-color:#FFF;
    margin-top:5px;
}

.box-header{
    background-color:#5992eb;
    color:#FFF;
    height:20px;
    font-weight:600;
}

.box-body{
    padding:2px;
}

.clickable{
    cursor: pointer;
	cursor: hand;
}

a,a:visited{
    color:#5992eb;
}

a:hover{
    color:#094adc;
}

img{
    border:0;
}

.error{
    color:red;
}
.warning{
    color:orange;
}
