<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/RWM model/transformation/XForms/transformation/rwm2xforms.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="RWM"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="XFORMS" value="EMF"/>
<mapEntry key="RWM" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="XFORMS" value="METAMODELOUTPUT"/>
<mapEntry key="RWM" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="XFORMS"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/RWM model/transformation/XForms/out.ecore"/>
<mapEntry key="IN" value="/RWM model/models/ContactBook_mac.ecore"/>
<mapEntry key="XFORMS" value="/RWM model/transformation/XForms/metamodel/xforms.ecore"/>
<mapEntry key="RWM" value="uri:http://rwm"/>
</mapAttribute>
<stringAttribute key="Project Name" value="RWM model"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
<booleanAttribute key="supportUML2Stereotypes" value="false"/>
</launchConfiguration>
