<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="SIDE Enterprise">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="aboutText"
               value="SIDE by http://www.bluexml.com">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="11,252,445,20">
         </property>
         <property
               name="appName"
               value="SIDE Enterprise">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <extension
         id="wizard"
         name="SIDE project"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.bluexml.side.modeler.category.ID"
            class="com.bluexml.side.Integration.eclipse.branding.enterprise.Wizard"
            finalPerspective="com.bluexml.side.Integration.eclipse.branding.perspective"
            hasPages="true"
            icon="icons/newProject.png"
            id="com.bluexml.side.Integration.eclipse.branding.wizard"
            name="SIDE Project"
            project="true">
      </wizard>
      <category
            id="com.bluexml.side.modeler.category.ID"
            name="SIDE">
      </category>
      <category
            id="com.bluexml.side.Intregation.eclipse.branding.category.example"
            name="SIDE Example Project"
            parentCategory="com.bluexml.side.modeler.category.ID">
      </category>
   </extension>
   
      <extension
         id="perspective"
         name="SIDE Perpective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bluexml.side.Integration.eclipse.branding.enterprise.Perspective"
            icon="icons/perspective_icon.png"
            id="com.bluexml.side.Integration.eclipse.branding.perspective"
            name="SIDE Modeling">
      </perspective>
   </extension>
</plugin>
