<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/com.bluexml.side.Requirements.interpretation/metamodel/documentation/transformation/RWM2CdCF.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="RWM"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="Documentation" value="EMF"/>
<mapEntry key="RWM" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Documentation" value="METAMODELOUTPUT"/>
<mapEntry key="RWM" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Documentation"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/com.bluexml.side.Requirements.interpretation/examples/documentation/model/example.ecore"/>
<mapEntry key="Documentation" value="/com.bluexml.side.Requirements.interpretation/metamodel/documentation/documentation.ecore"/>
<mapEntry key="IN" value="/com.bluexml.side.Requirements.interpretation/examples/example.requirements"/>
<mapEntry key="RWM" value="uri:http://www.kerblue.org/requirements/1.0"/>
</mapAttribute>
<stringAttribute key="Project Name" value="com.bluexml.side.Requirements.interpretation"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
<booleanAttribute key="supportUML2Stereotypes" value="false"/>
</launchConfiguration>
