<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate form models on leading frameworks.&lt;br&gt; This Form Metamodel allows to model Web Forms to integrate in your web application or web framework customizations.&lt;br&gt;SIDE provides the modeler to graphically produce form models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/form/1.0" name="KSR400 Form" url="http://www.kerblue.org/form/1.0">
      <technology description="Check this to generate your form models on a XForms engine.&lt;br&gt;XForms is a standard to describe the structure of web forms using precise semantics and separation of concern.&lt;br&gt;SIDE allows to optimize the production of XForms-based web forms through graphical design, automatic generation, data integration and Xforms-based engine deployment." id="xforms" name="XForms" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate your form models on the major release 1.5 of the XForms-based Chiba engine.&lt;br&gt;Chiba 1.5.x is the leading open source Xforms engine solution.&lt;br&gt;SIDE allows to generate the XForms templates and this generation has been heavily qualified on Chiba." id="chiba_1_5.x" version="Chiba 1.5.x">
          <generatorVersion class="com.bluexml.side.form.generator.xforms.chiba34d.FormGeneratorCommunity" id="com.bluexml.side.Form.generator.xforms.chiba34d" version="SIDE Chiba Form Generator for Alfresco 3.4d Community">
            <configurationParameter dataType="File" documentation="Set this field to the complete path to your messages.properties file. The file may point to a customized version of the file.&lt;p&gt;It is &lt;b&gt;strongly recommended&lt;/b&gt; to set the option. if not specified, a default file is created in the generation folder under xformsModel/defaults." key="com.bluexml.side.Form.generator.xforms.chiba.messagesFilePath" label="Messages file" />
            <configurationParameter dataType="String" defaultValue="http://localhost:8080/xforms" documentation="Set the address to the webapp context, e.g. http://localhost:8080/xforms.&lt;br/&gt;This option is accessory as it is used for providing service URLs. If not given, default values will be used." key="com.bluexml.side.Form.generator.xforms.chiba.webappContext" label="XForm Webapp URL" />
            <mustBeChecked pluginId="com.bluexml.side.Class.generator.alfresco34d">
              <optionRef optionId="alfresco.webscripts.common" />
            </mustBeChecked>
            <mustBeChecked pluginId="com.bluexml.side.Portal.generator.alfresco34d">
              <optionRef optionId="com.bluexml.side.Portal.generator.alfresco.xforms" />
            </mustBeChecked>
            <configurationParameter dataType="String" defaultValue="http://localhost:8080/alfresco" documentation="Set this value to the URL of the Alfresco instance on which you want to generate and deploy this new content model from the SIDE data model." key="alfresco.url" label="Alfresco URL" />
            <configurationParameter dataType="String" documentation="default value is &quot;admin&quot;" key="alfresco.admin.login" label="Alfresco Administrator login" />
            <configurationParameter dataType="String" documentation="default value is &quot;admin&quot;" key="alfresco.admin.psw" label="Alfresco Administrator pass word" />
            <moduleDependence moduleId="com.bluexml.side.Framework.xforms.controller.alfresco34d" moduleType="zip" technologyVersion="chiba_1_5.x" versionMax="1.0.3" versionMin="1.0.3" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

