<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
      <technology
            description="Check this to deploy your generated application components on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;MDA-based SIDE allows to deploy MDA generated artefacts on main ALfresco releases."
            id="alfresco"
            name="Alfresco"
            url="http://www.alfresco.com">
         <technologyVersion
               description="Check this to generate data models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, SIDE provides useful server components to enhance some features of this release."
               id="alfresco_3.3.3E"
               version="Alfresco3.3.3 Enterprise">
            <deployerVersion
                  class="com.bluexml.side.deployer.alfresco.enterprise333.Deployer"
                  description="Check this to generate a full deployable Alfresco package containing the newly generated Alfresco artifacts."
                  hidden="visible"
                  id="com.bluexml.side.Deployer.alfresco.enterprise333"
                  shared="false"
                  version="SIDE Alfresco Enterprise Deployer">
               <configurationParameter
                     dataType="Directory"
                     documentation="Set this value to the Alfresco Tomcat directory path in order the deployer puts the packaged war file.&lt;br&gt;&lt;b&gt;This option is mandatory.&lt;/b&gt;"
                     key="CATALINA_HOME"
                     label="Tomcat installation directory">
               </configurationParameter>
               <option
                     defaultOption="true"
                     documentation="Check this option if you want to completely remove previous deployed packages.&lt;br&gt;May be longer but may avoid some side effects when done from time to time."
                     key="com.bluexml.side.deployer.alfresco.clean"
                     label="clean">
               </option>
               <option
                     documentation="Check this option if you want to log changes made in alfresco war."
                     key="com.bluexml.side.deployer.alfresco.logChanges"
                     label="log details">
               </option>
               <configurationParameter
                     dataType="File"
                     documentation="Set this value to the location of the alfresco mmt tool to manage amp files."
                     key="com.bluexml.side.deployer.alfresco.mmtPath"
                     label="alfresco-mmt.jar file path">
               </configurationParameter>
            </deployerVersion>
         </technologyVersion>
      </technology>
   </extension>

</plugin>
