<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension id="com.bluexml.side.integration.eclipse.builder" name="SIDE Builder" point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="com.bluexml.side.integration.eclipse.builder.SIDEBuilder" />
    </builder>
  </extension>
  <extension id="com.bluexml.side.integration.eclipse.nature" name="SIDE Nature" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="com.bluexml.side.integration.eclipse.builder.SIDENature" />
    </runtime>
  </extension>
  <extension id="com.bluexml.side.integration.eclipse.nature.activatedBuilder" name="SIDE Nature with builder" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="com.bluexml.side.integration.eclipse.builder.SIDENatureWithBuilder" />
    </runtime>
    <builder id="com.bluexml.side.integration.eclipse.builder" />
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution adaptable="true" id="com.bluexml.side.Integration.eclipse.builder.contribution1" nameFilter="*" objectClass="org.eclipse.core.resources.IProject">
      <action class="com.bluexml.side.integration.eclipse.builder.ToggleNatureAction" enablesFor="+" id="com.bluexml.side.Integration.eclipse.builder.addRemoveNatureAction" label="Activate/Deactivate SIDE builder" menubarPath="com.bluexml.side/project" />
      <menu icon="icon/side_16.gif" id="com.bluexml.side" label="SIDE" path="additions">
        <separator name="project" />
      </menu>
    </objectContribution>
  </extension>
  <extension id="sideProblem" name="SIDE Problem" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker" />
    <persistent value="true" />
  </extension>
    <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icon/project_icon.png"
           id="com.bluexml.side.integration.eclipse.nature.icon"
           natureId="com.bluexml.side.integration.eclipse.nature">
     </image>
     <image
           icon="icon/project_icon_activated_builder.png"
           id="com.bluexml.side.integration.eclipse.nature.activatedBuilder.icon"
           natureId="com.bluexml.side.integration.eclipse.nature.activatedBuilder">
     </image>
  </extension>
</plugin>

