<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <technology description="Check this to generate your form models on a XForms engine.&lt;br&gt;XForms is a standard to describe the structure of web forms using precise semantics and separation of concern.&lt;br&gt;SIDE allows to optimize the production of XForms-based web forms through graphical design, automatic generation, data integration and Xforms-based engine deployment." id="xforms" name="XForms" url="http://www.alfresco.com">
      <technologyVersion description="Check this to generate your form models on the major release 1.5 of the XForms-based Chiba engine.&lt;br&gt;Chiba 1.5.x is the leading open source Xforms engine solution.&lt;br&gt;SIDE allows to generate the XForms templates and this generation has been heavily qualified on Chiba." id="chiba_1_5.x" version="Chiba 1.5.x">
        <deployerVersion class="com.bluexml.side.deployer.xformsdirectcopy.DeployerXforms" hidden="visible" id="com.bluexml.side.Deployer.xformsDirectCopy" version="SIDE Chiba X-Forms Direct Deployer">
          <configurationParameter
                dataType="Directory"
                documentation="Set this value to the Alfresco Tomcat directory path in order the deployer puts the packaged war file.&lt;br&gt;&lt;b&gt;This option is mandatory.&lt;/b&gt;"
                key="CATALINA_HOME"
                label="Tomcat installation directory"/>
          <option defaultOption="true" documentation="Check this option if you want to completely remove previous deployed packages.&lt;br&gt;May be longer but may avoid some side effects when done from time to time." key="com.bluexml.side.Deployer.xformsDirectCopy.clean" label="clean" />
          <configurationParameter
                dataType="String"
                defaultValue="xforms"
                documentation="Set the name of your Chiba webapp. The default name for the war file provided by BlueXML is &quot;xforms&quot;.&lt;br/&gt;If not filled, the default name will be considered."
                key="com.bluexml.side.Deployer.xforms.webappName"
                label="Webapp context name"/>
        </deployerVersion>
      </technologyVersion>
    </technology>
  </extension>
</plugin>

