<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate workflow models on leading frameworks.&lt;br&gt; This Workflow Metamodel allows to model Business processes.&lt;br&gt;SIDE provides the modeler to graphically produce workflow models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/workflow/1.0" name="KSR600 Workflow" url="http://www.kerblue.org/v2/ksr600-workflow/">
      <technology description="Check this to generate your workflow models on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution. It integrates the jBoss BPM to manage workflow.&lt;br&gt;SIDE allows to optimize the generation of advanced jPDL-based workflows." id="alfresco-jbpm" name="Alfresco-jBPM" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate workflow models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution. It comes with the jBoss BPM 5.1 engine to run generated advanced workflows.&lt;br&gt;SIDE provides the modeler with validation rules and the generators to ease production of advanced workflows on Alfresco 3.x." id="alfresco_3.2.0rE" version="Alfresco3.2 Enterprise">
          <generatorVersion class="com.bluexml.side.workflow.generator.alfresco.enterprise.WorkflowGenerator" hidden="visible" id="com.bluexml.side.Workflow.generator.alfresco.enterprise" version="SIDE Workflow Generator for Alfresco Enterprise">
            <configurationParameter dataType="String" defaultValue="1.0" key="com.bluexml.side.Workflow.generator.alfresco.module.version" label="Workflow Module version" />
            <configurationParameter dataType="String" documentation="Set this value to the URL of the Alfresco instance on which have been generated and deployed new content types from the SIDE data model." key="alfresco.url" defaultValue="http://localhost:8080/alfresco" label="Alfresco URL" />
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.workflow.pdfGeneratorEnterprise" moduleType="amp" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.3" versionMax="1.0.3" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

