<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.0"?>
<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
  <!--  <extension-->
  <!--    point = "org.eclipse.ui.newWizards">-->
  <!--    <category-->
  <!--      id = "com.bluexml.side.modeler.category.ID"-->
  <!--      name="%_UI_Wizard_category">-->
  <!--    </category>-->
  <!--    <wizard-->
  <!--      id = "com.bluexml.side.workflow.presentation.WorkflowModelWizardID"-->
  <!--      name = "%_UI_WorkflowModelWizard_label"-->
  <!--      class = "com.bluexml.side.workflow.presentation.WorkflowModelWizard"-->
  <!--      category = "com.bluexml.side.modeler.category.ID"-->
  <!--      icon = "icons/full/obj16/WorkflowModelFile.gif">-->
  <!--      <description>%_UI_WorkflowModelWizard_description</description>-->
  <!--      <selection class = "org.eclipse.core.resources.IResource" />-->
  <!--    </wizard>-->
  <!--  </extension>-->
  <extension point="org.eclipse.ui.editors">
    <editor id="com.bluexml.side.workflow.presentation.WorkflowEditorID" name="%_UI_WorkflowEditor_label" icon="icons/full/obj16/WorkflowModelFile.gif" extensions="workflow" class="com.bluexml.side.workflow.presentation.WorkflowEditor" contributorClass="com.bluexml.side.workflow.presentation.WorkflowActionBarContributor" />
  </extension>
</plugin>

