<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.2"?>
<plugin>
  <extension point="com.bluexml.side.Requirements.transformation.requirements_interpretation">
    <interpretation category="Mind Map/FreeMind" label="List of agents : FreeMind">
      <transformation asm="src/mindmap/transformation/agentList/RWM2AgentList.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="MindMap" output_model_name="OUT" target_MM="src/mindmap/mindmap.ecore" />
      <templateGeneration mtFile="src/mindmap/generation/freemind/freemind.mt" />
    </interpretation>
    <interpretation category="Mind Map/FreeMind" label="List of goals : FreeMind">
      <transformation asm="src/mindmap/transformation/goalList/RWM2GoalList.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="MindMap" output_model_name="OUT" target_MM="src/mindmap/mindmap.ecore" />
      <templateGeneration mtFile="src/mindmap/generation/freemind/freemind.mt" />
    </interpretation>
    <interpretation category="Mind Map/FreeMind" label="List of entities : FreeMind">
      <transformation asm="src/mindmap/transformation/entityList/RWM2EntityList.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="MindMap" output_model_name="OUT" target_MM="src/mindmap/mindmap.ecore" />
      <templateGeneration mtFile="src/mindmap/generation/freemind/freemind.mt" />
    </interpretation>
    <interpretation category="Mind Map/FreeMind" label="List of entities by agent : FreeMind">
      <transformation asm="src/mindmap/transformation/entityListByAgent/RWM2EntityListByAgent.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="MindMap" output_model_name="OUT" target_MM="src/mindmap/mindmap.ecore" />
      <templateGeneration mtFile="src/mindmap/generation/freemind/freemind.mt" />
    </interpretation>
    <interpretation category="Mind Map/FreeMind" label="List of goals by agent : FreeMind">
      <transformation asm="src/mindmap/transformation/goalListByAgent/RWM2GoalListByAgent.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="MindMap" output_model_name="OUT" target_MM="src/mindmap/mindmap.ecore" />
      <templateGeneration mtFile="src/mindmap/generation/freemind/freemind.mt" />
    </interpretation>
    <interpretation category="BlueXML" label="BlueXML Model">
      <transformation asm="src/bluexml/transformation/RWM2BlueXML.asm" input_metamodel_name="RWM" input_model_name="IN" new_name="bluexml_model.obl" output_metamodel_name="BLUEXML" output_model_name="OUT" target_MM="src/bluexml/bluexml.ecore" />
    </interpretation>
    <interpretation category="Diagnostic/Spreadhseet" label="Diagnostic">
      <transformation asm="src/diagnostic/transformation/RWM2Diagnostic.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="Diagnostic" output_model_name="OUT" target_MM="src/diagnostic/diagnostic.ecore" />
      <templateGeneration mtFile="src/diagnostic/generation/spreadsheet/spreadsheet.mt" />
    </interpretation>
    <interpretation category="Prototype" label="Web Project">
      <transformation asm="src/webproject/transformation/RWM2WebProject.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="WebProject" output_model_name="OUT" target_MM="src/webproject/webproject.ecore" />
      <templateGeneration mtFile="src/webproject/generation/data.mt" />
      <templateGeneration mtFile="src/webproject/generation/main.mt" />
      <templateGeneration mtFile="src/webproject/generation/main_edit.mt" />
      <antScript antScript="src/webproject/generation/build-default/" />
    </interpretation>
    <interpretation category="Documentation" label="Cahier des charges">
      <transformation asm="src/documentation/transformation/RWM2CdCF.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="Documentation" output_model_name="OUT" target_MM="src/documentation/documentation.ecore" />
      <templateGeneration mtFile="src/documentation/generation/opendocument/content.mt" />
      <templateGeneration mtFile="src/documentation/generation/opendocument/manifest.mt" />
      <templateGeneration mtFile="src/documentation/generation/opendocument/meta.mt" />
      <templateGeneration mtFile="src/documentation/generation/opendocument/mimetype.mt" />
      <templateGeneration mtFile="src/documentation/generation/opendocument/styles.mt" />
      <antScript antScript="src/documentation/generation/opendocument/build-default/" />
    </interpretation>
    <interpretation category="Risk/Spreadsheet" label="Risk">
      <transformation asm="src/risk/transformation/RWM2Risk.asm" input_metamodel_name="RWM" input_model_name="IN" output_metamodel_name="RISK" output_model_name="OUT" target_MM="src/risk/risk.ecore" />
      <templateGeneration mtFile="src/risk/generation/spreadsheet/spreadsheet.mt" />
    </interpretation>
  </extension>
</plugin>

