<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <metamodel description="Check this to generate portal models on leading frameworks.&lt;br&gt; This Portal Metamodel allows to model Application Object structure and persistence.&lt;br&gt;SIDE provides the modeler to graphically produce class models and various generators to instantiate these models on leading frameworks." id="http://www.kerblue.org/portal/1.0" name="KSR200 Portal" url="http://www.kerblue.org/portal/1.0">
      <technology description="Check this to generate your class models on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;SIDE allows to optimize the configuration of the Alfresco content model, views, forms and reports." id="alfresco" name="Alfresco" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate class models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content generation, SIDE provides useful server components to enhance some features of this release." id="alfresco_3.2.0rE" version="Alfresco3.2.0r Enterprise Edition">
          <generatorVersion class="com.bluexml.side.portal.generator.alfresco.enterprise.PortalAlfrescoGenerator" hidden="visible" id="com.bluexml.side.Portal.generator.alfresco.enterprise" version="SIDE Alfresco Portal Generator Enterprise">
            <option defaultOption="true" key="com.bluexml.side.Portal.generator.alfresco.doclist" label="Alfresco Share document library component">
              <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.shareDoclistEnterprise" moduleType="zip" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.17" versionMax="1.0.17" />
              <!--<mustBeUnchecked
                           pluginId="com.bluexml.side.Class.generator.alfresco">
                        <optionRef
                              optionId="alfrescoShare.defaultDocList">
                        </optionRef>
                     </mustBeUnchecked>-->
              <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.doclistEnterprise" moduleType="amp" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.3" versionMax="1.0.3" />
            </option>
            <option defaultOption="true" key="com.bluexml.side.Portal.generator.alfresco.forms" label="document details editing">
              <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.formProcessorEnterprise" moduleType="amp" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.3" versionMax="1.0.3" />
            </option>
            <option key="com.bluexml.side.Portal.generator.alfresco.facetmap" label="facetMap integration" />
            <mustBeChecked pluginId="com.bluexml.side.Class.generator.alfresco.enterprise">
              <optionRef optionId="alfresco.share.extension" />
            </mustBeChecked>
            <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.sharePortalExtensionEnterprise" moduleType="zip" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.2" versionMax="1.0.2" />
            <option defaultOption="false" key="com.bluexml.side.Portal.generator.alfresco.xforms" label="XForms Integration">
              <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.shareSearchResultsExtensionEnterprise" moduleType="zip" technologyVersion="alfresco_3.2.0rE" versionMin="1.0.19" versionMax="1.0.19" />
            </option>
            <configurationParameter dataType="String" defaultValue="http://localhost:8080/share" documentation="Set this value to the URL of the Alfresco Share instance on which you want to generate and deploy" key="alfresco.share.url" label="Alfresco share URL" />
            <configurationParameter dataType="String" documentation="Set the address to the webapp context, e.g. http://localhost:8080/xforms.&lt;br/&gt;This option is accessory as it is used for providing service URLs. If not given, default values will be used." key="com.bluexml.side.Form.generator.xforms.chiba.webappContext" defaultValue="http://localhost:8080/xforms" label="XForm Webapp URL" />
            <configurationParameter dataType="String" defaultValue="http://localhost:8080/facetmap" documentation="The URL to reach facetMap web application (for exemple http://localhost:8080/facetmap)" key="facetMap.url" label="FacetMap URL" />
            <option defaultOption="false" documentation="add share component to include custom iframe in pages" key="com.bluexml.side.Portal.generator.alfresco.iframe" label="iframe integration">
              <moduleDependence moduleId="com.bluexml.side.Framework.alfresco.shareIframe" moduleType="zip" technologyVersion="alfresco_3.2.0rE" versionMax="1.0.6" versionMin="1.0.6" />
            </option>
            <configurationParameter dataType="String" defaultValue="1.0" key="com.bluexml.side.Portal.generator.alfresco.module.version" label="Portal module version" />
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
  </extension>
</plugin>

