<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bluexml.side.Application.com_bluexml_application_configuration">
         <metamodel id="http://www.kerblue.org/view/1.0" name="KSR300 View" url="http://www.kerblue.org/v2/ksr300-view/">
      <technology description="Check this to generate your view models on the Alfresco product line.&lt;br&gt;Alfresco is the leading open source ECM solution.&lt;br&gt;SIDE allows to optimize the configuration of the Alfresco content model, views, forms and reports." id="alfresco" name="Alfresco" url="http://www.alfresco.com">
        <technologyVersion description="Check this to generate view models on the major release 3 of Alfresco.&lt;br&gt;Alfresco 3.x is the leading open source collaborative ECM solution.&lt;br&gt;Additionally to content, form and view generation, SIDE provides useful server components to enhance some features of this release." id="alfresco_3.4d" version="Alfresco3.4d Community">
          <generatorVersion class="com.bluexml.side.view.generator.alfresco34d.ViewGenerator" description="Check this to generate a full deployable Alfresco package containing the newly designed views and other Alfresco artefacts.&lt;br&gt;The generated packages are standard Alfresco Module package which may be deployed in any Alfresco 3.x instance.&lt;br&gt;SIDE provides the necessary components to deploy these packages through the 'deployer' tab." id="com.bluexml.side.View.generator.alfresco 34d" version="SIDE View Generator for Alfresco Share 34d">
            <configurationParameter
                  dataType="String"
                  defaultValue="1.0"
                  key="com.bluexml.side.View.generator.alfresco.module.version"
                  label="View Module version"/>
            <configurationParameter
                  dataType="String"
                  documentation="Set this value to the URL of the Alfresco Share instance on which you want to generate and deploye the 2 new Facet navigation components (menu and results list)."
                  key="alfresco.share.url" defaultValue="http://localhost:8080/share"
                  label="Alfresco share URL"/>
            <option
                  defaultOption="false"
                  key="view.generator.alfresco.extJS"
                  label="extJS">
            </option>
          </generatorVersion>
        </technologyVersion>
      </technology>
    </metamodel>
   </extension>

</plugin>
