<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2007-2011  BlueXML - www.bluexml.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->


<?eclipse version="3.4"?>
<plugin>
  <extension point="com.bluexml.side.Application.com_bluexml_application_configuration">
    <technology id="ant" name="ANT" url="http://ant.apache.org/">
      <technologyVersion id="ant_1.7.1" version="ANT 1.7.1">
        <deployerVersion class="com.bluexml.side.deployer.antdeployer.ANTDeployer" hidden="visible" id="com.bluexml.side.Deployer.antDeployer" shared="true" version="ANT Deployer">
          <configurationParameter
                dataType="File"
                documentation="This parameter permits to specify the ant file to used. This file must contains two targets : pre-build and post-build."
                key="com.bluexml.side.Deployer.antDeployer.param.antFile"
                label="Ant File Path"/>
        </deployerVersion>
      </technologyVersion>
    </technology>
  </extension>
</plugin>

