#menu {
list-style: none;
width: 150px;
padding-top: 35px;
height: 100px;
padding-left: 50px;
background: url(../images/background.png) no-repeat;
}
#menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li{
	padding-top:10px;
}

#menu a:link{
color: #b8b8b8;
font-family: Trebuchet MS;
font-size: 14px;
height: 23px;
display:block;
text-decoration: none;
padding: 8px 0 0 0px;
font-weight:normal;
}

#menu a:hover,a:visited{
	color: #595959;
	text-decoration: none;
}

#menu a:active{
color: #dbdbdb;
}

frame{
	border-color: #D3D3D3;
}